@import 'vendor/_eightpoint.min';
@import '_variables';
@import '_helpers';
@import '_base';
@import 'components/_window-header';
@import 'components/_input';
@import 'components/_button';
@import 'components/_label';

html, body, .content { height: 100%; }

.container {
    display: flex;
    flex-direction: column;
}

.input-group {
    padding: 1.6rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    * {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.input-screenshot-location { width: 100%; }

.keybind {
}
