extends _extend

block head
    title ShotLock
    +stylesheet('main')
    +script('main')

block body
    +window-header(title='ShotLock')
    .container
        .input-group
            .label-group
                .label-text Region
                .label-content Set the screenshot region
            .action
                button.button.region-btn Region
        .input-group
            .label-group
                .label-text Save to...
                .label-content.screenshot-location
            .action
                button.button-secondary.choose-location-btn Choose
        .input-group
            .label-group
                .label-text Keyboard Shortcut
                .label-content Shortcut to take screenshots
            .action
                input(type='text', readonly).keybind
